################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntuitAPI
/obj
/.vs/ProjectEvaluation
/bin/Debug/net8.0
